%h1-size {
  font-size: 3.8rem;
}

%h2-size {
  font-size: 3.2rem;
}

%h3-size {
  font-size: 2.8rem;
}

%secondary-title {
  border-bottom: 1px solid $palette-cyan-800;
  padding-top: 40px;
  margin-bottom: 20px;
  @extend %h1-size;
  font-weight: 100;
  line-height: 1.5;
}
