.h1-size {
  @extend %h1-size;
}

.h2-size {
  @extend %h2-size;
}

.h3-size {
  @extend %h3-size;
}

.main-title {
  @extend .h1-size;
  font-weight: 100;
  text-transform: uppercase;
}

.secondary-title {
  @extend %secondary-title;
}

.content-title {
  text-align: center;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  color: $palette-cyan-600;
  &:hover {
    color: $palette-cyan-700;
  }
}

.text-center {
  text-align: center;
}

ul, ol {
  margin-left: 15px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}
