// content
@import url("//fonts.googleapis.com/css?family=Montserrat:300,400,600");
@import "reset/reset";

html {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: calc(1em * .625); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  color: $palette-grey-900;
}

body {
  font-size: 1.6rem;
  line-height: 1.2;
  @include sm {
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  }
}

@import "spaces";
@import "placeholders";
@import 'typography';
@import 'list-images';

// Small patch for icon alignment
[class^="sb-"]::before, [class*=" sb-"]::before {
  vertical-align: middle;
}
