/*
 * Make html take up the entire screen
 * Then set touch-action to avoid touch delay on mobile IE
 * Set default font-size, line-height and color
 */
html {
  width            : 100%;
  min-width        : 320px;
  height           : 100%;
  -ms-touch-action : manipulation;
  touch-action     : manipulation;
  line-height      : 1.4;
}

/*
 * Make body take up the entire screen
 * Remove body margin so layout containers don't cause extra overflow.
 */
body {
  width      : 100%;
  min-height : 100%;
  margin     : 0;
}

//Normalize element
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, main, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin         : 0;
  padding        : 0;
  border         : 0;
  vertical-align : baseline;
  box-sizing     : border-box;
}

/*
 * Define minimum size on svg
 */
img[src*="svg"] {
  min-width : 200px;
}

/*
 * Remove italic for address
 */
address {
  font-style : normal;
}

/*
 * 1. Prevent overflow
 * 2. Normalize render
 */
table {
  max-width       : 100%; /* 1 */
  width           : auto; /* 1 */
  border-collapse : collapse; /* 2 */
  border-spacing  : 0; /* 2 */
}

blockquote, q {
  quotes : none;
  &:before, &:after {
    content : none;
  }
}

button {
  padding : 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.screen-reader-text,
.visualy-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &:active,
  &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

/*
 * Remove gap to bottom for img
 * https://dev.to/christiankaindl/the-strange-img-gap-in-html
 */
img {
  vertical-align: middle;
}

@import "normalize";
